{% extends 'events/payment/transaction_details.html' %}
{% block details %}
<form action="{{url_for_plugin('payment_razorpay.capture',registration.locator.registrant)}}" method="POST">
<script
    src="https://checkout.razorpay.com/v1/checkout.js"
    data-key="{{rzp_api_id}}"
    data-amount="{{rzp_int_amount}}"
    data-currency="{{currency}}"
    data-order_id="{{order_id}}"
    data-buttontext="Pay with Razorpay"
    data-name="{{org_name}}"
    data-description="{{description}}"
    data-prefill.name="{{user_name}}"
    data-prefill.email="{{user_email}}"
    data-theme.color="#F37254"
></script>
<input type="hidden" custom="Hidden Element" name="hidden">
</form>

{% endif %}
{% endblock %}
