<!DOCTYPE html>
<html>
  <head>
    <title>Payment Form</title>
  </head>
  <body>
      <p>Please click "Pay with Razorpay to make the payment"</p>
      <p>Please note the transaction ID for future reference.</p>
      <p>Do Not Refresh the Page</p>
    <dl class="i-data-list">
      <dt>{% trans %}Name{% endtrans %}</dt>
      <dd>{{ user_name }}</dd>
      <dt>{% trans %}Total amount{% endtrans %}</dt>
      <dd>{{ format_currency(rzp_amount, currency, locale=session.lang) }}</dd>
      <dt>{% trans %}Transaction ID{% endtrans %}</dt>
      <dd>{{ order_id }}</dd>
      <dt></dt><form action="{{url}}" method="POST">
<script
    src="https://checkout.razorpay.com/v1/checkout.js"
    data-key="{{rzp_api_id}}"
    data-amount="{{rzp_int_amount}}"
    data-currency="{{currency}}"
    data-order_id="{{order_id}}"
    data-buttontext="Pay with Razorpay"
    data-name="{{org_name}}"
    data-description="{{order_description}}"
    data-prefill.name="{{user_name}}"
    data-prefill.email="{{user_email}}"
    data-theme.color="#F37254"
></script>
<input type="hidden" custom="Hidden Element" name="hidden">
</form>
      </dd>
    </dl>
  </body>
</html>
